<header role="banner">
    <div class="dima-navbar-wrap">
        <div class="dima-navbar   fix-one">

            <div class="clearfix dima-nav-fixed"></div>

            <div class="container">

                <!-- NAVBAR BUTTON -->
                <a class="dima-btn-nav" href="#"><i class="fa fa-bars"></i></a>
                <!--! NAVBAR BUTTON -->

                <!-- LOGO -->
                <div class="logo">
                    <h1>
                        <a href="demo-blog-one.html" title="PixelDima.com logo">
                            <span class="vertical-middle"></span>
                            <img src="assets/img/blog_logo_1.png" alt="PixelDima Logo" title="PixelDima">
                        </a>
                    </h1>
                </div>

                <!-- Menu -->
                <nav role="navigation" class="clearfix">
                    <ul class="dima-nav-end sf-menu">
                        <li class="search-btn">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </li>
                    </ul>
                    <ul class="dima-nav sf-menu">
                        <li class="sub-icon">
                            <a href="#">the weblog</a>
                        </li>
                        <li class="sub-icon">
                            <a href="#">about me</a>
                        </li>
                        <li class="sub-icon">
                            <a href="#">contact me</a>
                        </li>
                        <li class="sub-icon">
                            <a href="#">sign in</a>
                        </li>
                    </ul>

                </nav>
            </div>
            <!-- container -->

            <div id="search-box">
                <div class="container">
                    <form>
                        <input type="text" placeholder="Start Typing...">
                    </form>
                    <div id="close">
                        <a href="#">
                            <i class="di-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dima"></div>
    </div>

</header>