<div class="widget">
    <div class="widget-content">
        <ul class="dima-ads clearfix">
            <li>
                <a href="#">
                    <img src="assets/img/untitled-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/untitled-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/untitled-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="assets/img/untitled-1.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>