<div class="widget dima-author-box clearfix text-center">
    <div class="dima-about-image apply-gray">
        <a href="#">
            <img src="assets/img/posts/author.jpg" alt="">
        </a>
    </div>
    <div class="dima-author-info">
        <h5 class="dima-author-name"><a href="">AHMED ELKILANI</a>
        </h5>

        <p>Lorem Ipsum. Duis sed odio sit . Morbi accumsan ipsum velit. Nam nec tellus a odio
            tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
            elit.</p>

    </div>
    <div class="topaz-border"></div>
</div>